
.main_img{
    width:500px;
    margin-left:180px; 
    object-fit: cover; 
    object-position: top;
}
.filterbar{
    width:9.1px;
    height:600px;
    background:#000;
    margin-right:1.5px;
    float: left;
    opacity: 0.95;
}
.thumbs{
    margin-top:20px;
    width:80px;
    margin-left:30px; 
    max-height: 100px; 
    object-fit: cover; 
    object-position: top;
    border: solid;
    border-color: #AAA;
    border-radius: 10px;
    border-width: 1px;
}
.menu2{
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    font-size:17px; 
    width:165px;
    text-align:center;
    line-height:50px;
    background:#FFF8F8;
    color:#666;
    cursor:pointer;}

.menu2:hover{
    background:#fed9d9;
    color:#A00;
}
.btnc{cursor:pointer;line-height:20px;background-color: #ffd8783d;width: 80px;font-size: 14px;color: #888;text-align: center;height: 20px;}
.btnc:hover{color:#A00;background:#fed9d9}